

.item img{
    width: 100%;
   height: 200px;
   object-fit: cover;
    border-radius: 10px 10px 0 0;
}


.productos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.item{
    margin: 50px 100px;
    border-radius: 10px;
    width: 500px;
    height: 500px;
}

.item:hover{
    box-shadow: 0 10px 20px rgb(0, 0, 0);
}


.info-producto{     
    padding: 15px 30px;
    line-height: 2;
    display: flex;
    flex-direction: column;
}

.precio{
    font-size: 18px;
    font-weight: 900;
}



h2{
    color: black;
    text-align: center;
}

.btn-editar{
    border: none;
    background: none;
    background-color: #000;
    color: #fff;
    padding: 10px 15px;
}

.info-producto button:hover{
    background-color: #212121;
}

.btn-agregar {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    border: none;
    background: none;
    padding: 10px;
}

.btn-agregar i{
    font-size: 25px;
    color: #fff;
    margin: 0 30px 0 0;
}

.bi bi-cloud-upload{
    font-size: 50px;
}

.btn-agregar a {
    text-decoration: none;
    background-color: #ff1616;
    color: #fff;
    padding: 15px 15px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 20px;
}

.btn-agregar a:hover {
    background-color: #960f0f;
} 

.btn-eliminar{
    border: none;
    background: none;
    background-color: #960f0f;
    color: #fff;
    padding: 10px 15px;
    margin-top: 5px;
}

.btn-comprar{
    border: none;
    background: none;
    background-color: #000;
    color: #fff;
    padding: 10px 15px;
}
