.frm{
    width: 100%;
    display: flex;
    justify-content: center;
    
}

.boton-subir {
  font-size: 20px;
}

.boton-subir i{
  margin: 0 0 0 5px ;

}

.boton-subir:hover{
color: black;
}

.tituloformulario{
  text-align: center;
  color: rgb(204, 30, 30);
  background-color: #212121;
  margin-top: 20px;
  margin-left: 600px;
  width: 500px;
  padding: 5px 40px 5px 0;
  border-radius: 5px;
}



.formularioProducto {
    margin: 30px;
    margin-top: 30px;
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 8px;
    border: 2px solid black;
    width: 500px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    
}


.formularioProducto label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

.formularioProducto input,
.formularioProducto select,
.formularioProducto textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

    .botonguardar {
    margin-top: 15px;
    background-color: #ff1616;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
  }
  
  .botonguardar:hover {
    background-color: #960f0f;
  }
  
/* Ocultamos el input real */
.input-oculto {
  display: none;
}

/* Botón personalizado */
.boton-subir {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ff1616;
  color: white;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.boton-subir:hover {
  background-color: darkred;
}

/* Texto del archivo */
#nombre-archivo {
  margin-left: 10px;
  font-style: italic;
  color: #555;
}

.bi-bookmark-check-fill{
  font-size: 25px;
}